{% extends "../interface/layout.html" %}


{% block title %}
   Login
{% endblock %}

{% block body %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Something is wrong with this form.
        </div>
    {% endif %}
    {% if next %}
        <p>You don't have access for this page.</p>
    {% endif %}
    <div class="container">

        <div class="card text-center " >

            <div class="card-header">
            LOG IN
            </div>

            <div class="card-body" >
                <form method="post" action="{% url 'login' %}">

                    {% csrf_token %}
                    
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text" class="span-login">User</span>
                        </div>
                        <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                    </div>
                    
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">

                    </div>
                    
                    <button type="submit" class="btn btn-success" style="margin: 5px;" >Login</button>
                    <input type="hidden" name="next" value="{{ next }}">
        
                </form>
            </div>

        </div>

    </div>


        


{% endblock %}