{% extends "interface/layout.html" %}

{% block title %}
    Manange posts
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}

        <h2>Manange page.</h2>

        {% if list_post %}
        <table>
            <tr>
                <th>Nº</th>
                <th>User</th>
                <th>Title</th>
                <th>Created at</th>
            </tr>
            {% for item in list_post %}
                <tr>
                    <th>{{ item.id }}</th>
                    <th>{{ item.user }}</th>
                    <th>{{ item.title }}</th>
                    <th>{{ item.created_at }}</th>
                    <th><a href="{% url 'interface:edit' item.id %}">Edit</a></th>
                    <th><a href="{% url 'interface:erase' item.id %}">Erase</a></th>
                </tr>
            {% endfor %}
                       
            
        </table>

            


        {% else %}

        {% endif %}
    
    {% else %}

        <p> User is not authenticated</p>

    {% endif %}

    <p><a href="{% url 'interface:welcome' %}">Return</a></p>
{% endblock %}