{% extends "interface/layout.html" %}

{% block title %}
    New post
{% endblock %}

{% block body %}

    <div class="container">
        {% if user.is_authenticated %}
            <form action='' method="post">

                {% csrf_token %}
                <input type="hidden" value="{{ user.id }}" name="userid">
                <div class="form group">
                    <label>Title: </label>
                    <input class="form-control" type="text" name="title" maxlength="100">
                </div>
                <div class="form-group">
                    <label>Text: </label>
                    <textarea class="form-control" name="text" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                <a href="{% url 'interface:welcome' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Return</button></a>

            </form>

            
        {% endif %}
    </div>

{% endblock %}

