{% extends "interface/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}

    <div class="container"> 

        <table class="table">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">User</th>
                <th scope="col">Created at</th>
            </tr>

            {% if list_post %}

                {% for item in list_post %}
                    <tr>
                        
                        <td><a style="text-decoration: none;" href="{% url 'interface:post' item.id %}"> {{ item.title }} </a></td>
                        <td>{{ item.user }}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                {% endfor %}
                    
            {% else %}

                <p>This content is empty</p>

            {% endif %}



        </table>
        <br>

        <a href="{% url 'interface:newpost'%}"><button type='button' class="btn btn-outline-primary btn-sm">New Post</button></a>
        <a href="{% url 'interface:mypost' user.id %}"><button class="btn btn-outline-primary btn-sm">Manage post</button></a>
        <a href="{% url 'logout' %}"><button class="btn btn-dark btn-sm">Logout</button></a>
        

        {% else %}
            <h4>You do not have access for this page. Please, Log in.</h4>
            <a href="{% url 'interface:index' %}">Log in</a>
        {% endif %}
    
    </div>

{% endblock %}