{% extends "interface/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <h4>Welcome, {{ user }} </h4>
        <table width='100%'>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Created at</th>
            </tr>

            {% if list_post %}

                {% for item in list_post %}
                    <tr>
                        <td><a href="{% url 'interface:post' %}"> {{ item.title }} </a></td>
                        <td>{{ item.user }}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                {% endfor %}
                    
            {% else %}

                <p>This content is empty</p>

            {% endif %}



        </table>
        <br>
        <p><a href="{% url 'interface:newpost'%}">New Post</a></p>
        <p><a href="{% url 'interface:mypost' user.id %}">Manage post</a></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        

    {% else %}
        <h4>You do not have access for this page. Please, Log in.</h4>
        <a href="{% url 'interface:index' %}">Log in</a>
    {% endif %}

{% endblock %}